<form method="POST" action="">
  <div class="mb-3 mt-4">
    <label for="account-input" class="form-label">Tài khoản</label>
    <input
      type="text"
      name="q"
      class="form-control"
      id="account-input"
      placeholder="Nhập tài khoản..."
    />
  </div>
  <div class="mb-3 mt-4">
    <label for="password-input" class="form-label">Mật khẩu</label>
    <input
      type="password"
      name="q"
      class="form-control"
      id="password-input"
      placeholder="Nhập mật khẩu..."
    />
  </div>
  <div class="mb-3 mt-4">
    <label for="gender-id" class="form-label">Giới tính</label>
    <select name="gender" class="form-control" id="gender-id">
        <option value="">Chọn giới tính</option>
        <option value="0">Nam</option>
        <option value="1">Nữ</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>